[submodule "Barometer"]
	path = barometer
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_BAROMETER.git
	branch = main
[submodule "FIR"]
	path = fir
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_FIR.git
	branch = main
[submodule "NIR"]
	path = nir
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_NIR.git
	branch = main
[submodule "THERMAL_CAMERA"]
	path = thermal_camrea
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_THERMAL_CAMERA.git
	branch = main
[submodule "FLIGHT_LOGIC"]
	path = flight_logic
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_Flight_Logic.git
	url = https://github.com/SPACE-Yonsei/CANSAT_HEPA_2025_Flight_Logic.git
	branch = main
[submodule "IMU"]
	path = imu
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_IMU.git
	branch = main
[submodule "GPS"]
	path = gps
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_GPS.git
	branch = main
[submodule "THERMO"]
	path = thermo
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_THERMO.git
	branch = main
[submodule "Comm"]
	path = comm
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_COMM.git
	branch = main
[submodule "MOTOR"]
	path = motor
	url = git@github.com:SPACE-Yonsei/CANSAT_HEPA_2025_MOTOR.git
	branch = main
